.h1 {
    font-size: 2.2rem;
    line-height: 1;
    font-weight: 700;
    margin-top: 0;
}

.h2 {
    color: var(--heading-color);
    font-size: 1.8rem;
    line-height: 1.2;
    font-weight: 600;
    text-transform: capitalize;
}

.h3 {
    color: var(--heading-color);
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
}

.h4 {
    font-size: 1.12rem;
    font-weight: 500;
    line-height: 1.2;
    text-transform: capitalize;
}