.about {
    padding: 2.5rem 0;
    background-color: var(--secondary-bg-color);
    
    .about__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .about__content {
        font-size: 1.1rem;
        flex-basis: 60%;
    }

    .about__list {
        color: #fff;
        text-align: justify;
    }
    
    .about__item {
        list-style-type: disc;
        margin-bottom: 10px;
    }
    
    .about__skills {
        flex-basis: 35%;
    }
    
    .about__skills-item {
        border-bottom: 1px dashed #ddd;
        padding-bottom: 10px;
        margin-bottom: 10px;
        color: #fff;
        font-size: 18px;
        
        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
    
}

