.header {
    transition: padding 1ms;
    padding: 0.5rem 0; 
   
    &.header--sticky {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 2;
    }

    &.header--gray {
        background-color: var(--sticky-navbar-bg);
        color: #000;
    }
      
    .header__container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;
        margin: 0 auto;
    }

    .menu-button {
        background-color: transparent;
        border: none;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        display: none;
    }

    .menu-icon,
    .menu-icon::before,
    .menu-icon::after {
        background-color: var(--menu-button-color);
        width: 35px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        transition: all 0.5s;
    }

    &.header--gray .menu-icon,
    &.header--gray .menu-icon::before,
    &.header--gray .menu-icon::after {
        background-color: #000;
    }

    .menu-icon::before,
    .menu-icon::after {
        content: "";
    }

    .menu-icon::before {
        transform: translate(-17.5px, -12px);
    }

    .menu-icon::after {
        transform: translate(-17.5px, 12px);
    }

    .menu-button.active .menu-icon{
        background-color: transparent;
        transform: rotate(720deg)
    }
    
    .menu-button.active .menu-icon::before {
        transform: translateX(-18.5px) rotate(45deg);
    }
    
    .menu-button.active .menu-icon::after {
        transform: translateX(-18.5px) rotate(-45deg);
    }
}

@media (max-width: 1200px){
    .header {
        .header__container {
            max-width: 1000px;
            margin-left: 5%;
        }
    }
}

@media (max-width: 780px){
    .header {
        .header__container {
            justify-content: flex-end;
            max-width: 760px;
            margin-left: 0;
            margin-right: 3%;
            
        }
        
        .menu-button {
            display: block;
            z-index: 2;
        }
    }
}






/* .logo {
    display: flex;
    align-items: center;
    position: relative; 
    text-transform: uppercase;
    font-size: 26px;
    font-weight: 700;
}

.logo .fa-bolt {
    color: var(--brand-color);
    font-size: 19.5px;
    position: absolute; 
    top: 60%;
    left: 100%; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
}

.signature {
    width: 100px; 
    height:auto; 
    margin-right: 10px; 
} */