
.profile {
    display:flex;
    justify-content: space-around;
    align-items: start;
  
    .profile__picture {
      width: 400px;
      height:  400px;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid var(--brand-color);
      box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
    
      img {
          height: 100%;
          width: 100%;
      }
    }

    .profile__text{
      max-width: 700px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      font-size: 1rem;
      margin: auto 0;
    }
    
    .profile__title {
      
      span {
        color: var(--heading-color);
        font-size: 0.80em; 
      }
    }

    .profile__intro{
      font-size: 1.2em;
      line-height: 1.4;
      text-align: justify;
    }

    .profile__buttons {
      display: flex;
      justify-content: start;
    }

    .profile__social {
      font-size: 2em;
      margin-right: 10px;
      transition: 0.5s;
      display: flex;
      
      a {
        display: inline-block;
        margin-right: 1.5rem;

        &:hover {
          color: var(--brand-color);
          transform: rotate(360deg);
        }
      }
      
    }
} 

@media (max-width: 1200px){
  .profile {
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;

    .profile__picture {
      width: 350px;
      height:  350px;
      flex-shrink: 0;
    }

    .profile__text {
      font-size: 0.9rem;
      flex-shrink: 1;
      margin-left: 3rem;
    }

  }
}

@media (max-width: 992px){
  .profile {

    justify-content: center;
    padding-left: 2.2rem;
    padding-right: 2.2rem;
  
    .profile__picture {
      display: none;
    }

    .profile__text {
      margin-left: 0;
    }
  }
}