/*---------------------------Projects---------------------------*/

.projects {
    background-color: var(--secondary-bg-color);
    font-size: 1rem;
    
    .projects__list {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: start;
        font-size: 0.95rem;
        align-items: center;
    }

    .projects__item {
        position: relative;
        flex: 0 1 31%;
        height: 420px;
    }
}

@media (max-width: 992px){
    .projects {
        
        .projects__item {
            flex-basis: 45%;
        }
    }
}

@media (max-width: 780px){
    .projects {

        .projects__list {
           flex-direction: column;
           font-size: 1rem;
        }

        .projects__item {
            flex-basis: 420px;
            width: 60%;
        }
    
    }
}

@media (max-width: 576px){
    .projects {

        .projects__item {
            width: 80%;
        }
    
    }
}