@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

@import url('reset.css');
@import url('base.css');
@import url('utils.css');

@import url('components/navbar.css');
@import url('components/headings.css');
@import url('components/timeline.css');
@import url('components/card.css');
@import url('components/button.css');
@import url('components/form.css');

@import url('modules/header.module.css');
@import url('modules/profile.module.css');
@import url('modules/about.module.css');
@import url('modules/education.module.css');
@import url('modules/project.module.css');
@import url('modules/contact.module.css');
@import url('modules/footer.module.css');


/*------------------- Responsive Design on small screen -------------------*/

/* Medium layout */


@media(max-width:1050px){
  .introduction{ 
    flex-direction: column;
    padding-top: 2rem;
  }
  .profile-text{
    padding: 40px 0px;
  }
}

