@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

@import url('reset.css');
@import url('base.css');
@import url('utils.css');

@import url('components/navbar.css');
@import url('components/headings.css');
@import url('components/timeline.css');
@import url('components/card.css');
@import url('components/button.css');
@import url('components/form.css');

@import url('modules/header.module.css');
@import url('modules/profile.module.css');
@import url('modules/about.module.css');
@import url('modules/education.module.css');
@import url('modules/project.module.css');
@import url('modules/contact.module.css');
@import url('modules/footer.module.css');


/*------------------- Responsive Design on small screen -------------------*/

/* Medium layout */


@media(max-width:1050px){
  .introduction{ 
    flex-direction: column;
    padding-top: 2rem;
  }
  .profile-text{
    padding: 40px 0px;
  }
}

/* tablet layout */
/* @media only screen and (min-width:768px) and (max-width:999px){
  .container{
    width: 750px;
  } 
}   */


/* Mobile Layout */
/* @media only screen and (max-width:767px){
  .container{
    width: 350px;
  }

  .header__container .menu_icon {
    display: block;
  }
  .header__container ul{
    display: none;
  }
  .header__container i{
    color: #e5e5e5;
  }

  .profile-text{
    width: 350px;
  }
  .introduction .profile-text p{
    text-align: justify;
  }
  .about{
    flex-direction: column;
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .about-skills{
    width: 100%;
    margin-top: 30px;
  }
  .education-content .row {
    flex-direction: column;
    height: auto;
    margin-bottom: 50px;
  }

  .education-content .row .education,
  .education-content .row .internship {
    flex-basis: 100%;
    max-width: 100%;
    margin-top: 30px;
  }
  .project{
    flex-basis: 100%;
    margin-bottom: 30px;
  }

} */

